<div id='chatapp'>
  <div id='rooms'>
    <div id='room-list'>
      <% @rooms.each do |room| %>
        <%= render room %>
      <% end %>
    </div>
    <%= render partial: 'form', locals: {room: Room.new(name: "Room #{Room.count + 1}")} %>
  </div>

  <div id='messages'> 
    <%= turbo_frame_tag 'room-messages' do %> 
      <div id='room-name'>
        <h2><%= @room.name %></h2>
      </div>
      <div id='message-list'>
        <% @messages.each do |message| %>
          <%= render message %>
        <% end %>
      </div>
      <div id="message-form">
        <%= render partial: 'messages/form', locals: { message: Message.new(room: @room) } %>
        <%= turbo_stream_from @room %>
      </div>
    <% end %>
  </div>  
</div>

 